
@{
    ViewData["Title"] = "Index";
}



<div class="container mt-4">
    <h2>داشبورد کاربر</h2>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">پروفایل</h5>
                    <p class="card-text">مشاهده و ویرایش اطلاعات پروفایل</p>
                    <a href="/Profile/ProfileUser/GetProfile" class="btn btn-primary">برو به پروفایل</a>
                    <a href="/Profile/ProfileUser/createProfile" class="btn btn-primary">افزودن پروفایل</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">شبکه‌های اجتماعی</h5>
                    <p class="card-text">مدیریت لینک‌های شبکه‌های اجتماعی</p>
                    <a href="/Profile/SocialLinks" class="btn btn-success">مدیریت لینک‌ها</a>
                </div>
            </div>
        </div>
    </div>
</div>